// Primary colors
$primary-color-1: hsl(221, 83%, 61%);
$primary-color-2: hsl(221, 83%, 53%);
$primary-color-3: hsl(221, 83%, 45%);

// Secondary colors
$secondary-color-1: hsl(220, 40%, 6%);
$secondary-color-2: hsl(221, 39%, 11%);
$secondary-color-3: hsl(220, 39%, 15%);

// White
$white-color-1: hsl(210, 22%, 91%);
$white-color-2: hsl(210, 23%, 95%);
$white-color-3: hsl(0, 0%, 100%);
$white-color-4: hsl(0, 20%, 96%);
$white-color-5: hsl(223, 4%, 68%);

// Black
$black-color: hsl(0, 0%, 0%);

// Typography
$fs-h1: 2.5rem;
$fs-h2: 3rem;
$fs-h3: 2.25rem;
$fs-h4: 1.875rem;
$fs-h5: 1.5rem;

$lead-paragraph-fs: 1.25rem;
$fs-p: 1rem;

// Body
$bg-color: hsl(30, 20%, 6%);
