@import 'globals';
@import 'variables';

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  animation: rotate 20s infinite;
  opacity: 0.5;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(200px);
}

.wrapper {
  padding-top: 4rem;
  display: flex;
  align-items: start;
  gap: 1rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  // padding: 0 10rem;
  &__subtitle {
    text-align: justify;
    color: $white-color-5;
    font-weight: 700;
.main,
.sidebar {
  // border: 3px solid black;
  padding: 15px;
  // background-color: #ffff;
}

.sidebar {
  // height: 100dvh;
  align-items: start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 40%;
}

.main {
  width: 60%;
}

.header {
  &__link {
    margin-top: 1.0625rem;
    transition: transform 250ms;

    &:hover {
      transform: translatex(10px);
    }
  }
  z-index: 3;
}

// .hero {
//   display: flex;
//   justify-content: space-between;
//   // padding: 0 10rem;
//   &__subtitle {
//     text-align: justify;
//     color: $white-color-5;
//     font-weight: 700;
//   }
//   z-index: 3;
// }

.contact {
  &__container {
    background-color: $secondary-color-3;
    border-radius: 1rem;
    &__text {
      padding: 4.9063rem 2.625rem;
      text-align: center;
    }
    &__text > span {
      color: $primary-color-2;
    }
  }
}
