@forward 'base';
@forward 'utilities';

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#box {
  position: relative;
  contain: content;
}

#blob {
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 0%;
  top: 0%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(
    177.9deg,
    rgb(58, 62, 88) 3.6%,
    rgb(119, 127, 148) 105.8%
  );
  animation: rotate 20s infinite;
  opacity: 0.2;
}

#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  backdrop-filter: blur(200px);
}

.content {
}

.wrapper {
  display: flex;
  align-items: start;
  padding-bottom: 5rem;
  justify-content: space-between;
  display: flex;
}

.main,
.sidebar {
  padding-top: 40px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 90dvh;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;

  div:last-of-type {
    margin-top: auto;
  }
}

.main {
  width: 50%;
}

.profile {
  &__subtitle {
    margin-top: 52px;
  }
}

.social {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;

  &__test {
    display: flex;
    gap: 1rem;

    width: 100%;
    &_1 {
      align-items: center;
    }
  }

  &__avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__link {
    // font-size: $fs-h4;
    margin-right: 3px;
    &:hover {
      // color: $white-color-3;
    }
  }

  &__icon {
    margin-bottom: 3px;
    vertical-align: middle;
    transform: scale(0.45);
  }
}

.nav {
  margin-top: 2rem;

  &__underline {
    background-color: rgb(170 172 177 / var(--tw-bg-opacity));
    display: inline-block;
    width: 24px;
    height: 1px;
    margin: 0 16px;
    margin-bottom: 5px;
    transition: width 0.15s ease;
  }

  &__ul {
    display: flex;
    flex-direction: column;

    li {
      margin-top: 1rem;
      margin-bottom: 1rem;
      a {
        color: hsl(223, 4%, 68%);
        max-width: 100%;
        .wdw {
          letter-spacing: 4px;
        }
        &:hover,
        &.active {
          /* Apply the same styles for active state as hover state */
          color: white;
          & .nav__underline {
            width: 48px;
          }
        }
      }
    }
  }
}

.numbered-items {
  margin-inline: auto;
}

.numbered-items {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 3rem;
}

.project {
  background-color: hsl(240, 3%, 12%);
  padding: 2rem 3rem;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.design {
  font-size: 0.875rem;
  padding: 0 4rem;
  text-align: center;
}
