@import 'globals';
@import 'variables';

.header {
  nav {
    margin-top: 1.0625rem;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  // padding: 0 10rem;
  &__subtitle {
    text-align: justify;
    color: $white-color-5;
    font-weight: 700;
  }
}
.contact {
  &__container {
    background-color: $secondary-color-3;
    border-radius: 1rem;
    &__text {
      padding: 4.9063rem 2.625rem;
      text-align: center;
    }
    &__text > span {
      color: $primary-color-2;
    }
  }
}
