// @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

@use '../utilities';

html {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  background-color: var(--black-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

figure {
  margin: 13px;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: utilities.$font;
  background-color: var(--black-color);
  --tw-bg-opacity: 1;
}

::selection {
  background: hsl(0, 0%, 25%);
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

// Flexbox style
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}
