@use '../utilities/variables';

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white-color-4);
}

p {
  margin-top: 0;
  color: var(--white-color-5);
  font-size: variables.$fs-p;
  line-height: 2;
  margin-bottom: 2;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: var(--white-color-4);
}

nav,
section {
  position: relative;
  z-index: 3;
}

h1 {
  font-size: variables.$fs-h1;
  color: #ffffff;
}

h2 {
  font-size: variables.$fs-h2;
  color: #ffffff;
}

ol,
ul {
  list-style: none;
  margin: 0;
}

* > ul {
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  // color: $white-color-4;
  color: #ffffff;
}

span {
  font-size: variables.$fs-h4;
}
